<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
  <form method="POST" action="/team">
    <h1>Create a Basketball Team!</h1>
    <p>Team Name: <input type="text" name="name" placeholder="Enter Team Name"/></p>
    <p>Coach: <input type="text" name="coach" placeholder="Enter Name"/></p>
    <p>Point Guard: <input type="text" name="pg" placeholder="Enter Name"/></p>
    <p>Shooting Guard: <input type="text" name="sg" placeholder="Enter Name"/></p>
    <p>Small Forward: <input type="text" name="sf" placeholder="Enter Name"/></p>
    <p>Power Forward: <input type="text" name="pf" placeholder="Enter Name"/></p>
    <p>Center: <input type="text" name="c" placeholder="Enter Name"/></p>
    <input type="submit"/ id="Submit">
  </form>
 </body>
</html>


